spring:
  datasource:
    url: jdbc:postgresql://${PGHOST}:${PGPORT}/${PGDATABASE}
    username: ${PGUSER}
    password: ${PGPASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false

  redis:
    host: ${REDISHOST}
    port: ${REDISPORT}
    password: ${REDISPASSWORD}
    ssl: true

jwt:
  secret: ${JWT_SECRET}
  expiration-ms: 900000       # 15 min
  refresh-expiration-ms: 604800000 # 7 days

management:
  endpoints:
    web:
      exposure:
        include: "health,metrics,prometheus"
