spring:
  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false

redis:
  host: ${REDIS_HOST}
  port: ${REDIS_PORT}
  password: ${REDIS_PASSWORD:}

jwt:
  secret: ${JWT_SECRET}
  expiration-ms: 900000       # 15 min
  refresh-expiration-ms: 604800000 # 7 days

management:
  endpoints:
    web:
      exposure:
        include: "health,metrics,prometheus"
