spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/springqpro
    username: springqpro
    password: springqpro
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

graphql:
  graphiql:
    enabled: true  # enable in-browser GraphiQL UI
  schema:
    locations: classpath:graphql/
